table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table, th, td {
  padding: 5px;
  border: 1px solid black;
}
span.box-error {
  color: red;
}
input.input-error {
  border: 1px solid red;
}

span.rotation {
  position: absolute;
}

span.azimuth {
  margin-left: 1.2em;
}
